---
import ProductCard from "../ProductCard.astro";

const products = [
  {
    title: "Cartão de Visita",
    src: "",
  },
  {
    title: "Panfletos",
    src: "",
  },
  {
    title: "Blocos",
    src: "",
  },
  {
    title: "Cartazes",
    src: "",
  },
  {
    title: "Lacres e Adesivos",
    src: "",
  },
  {
    title: "Adesivos em Geral",
    src: "Wind Banner/Banner",
  },
  {
    title: "Fachadas",
    src: "",
  },
  {
    title: "Placas",
    src: "",
  },
  {
    title: "Plotagem",
    src: "",
  },
  {
    title: "Aplicação de Películas",
    src: "",
  },
  {
    title: "Criação de Artes Gráficas",
    src: "",
  },
];
---

<section class="min-h-[80vh] w-full py-20">
  <div class="flex flex-col gap-4 mx-auto max-w-5xl">
    <div class="flex flex-col gap-2 items-center mb-6">
      <span class="font-medium text-black/80 text-lg">Oque fazemos ?</span>
      <h2 class="text-4xl font-medium text-black">Nossos Produtos</h2>
    </div>
    <div class="grid grid-cols-3 gap-6">
      {
        products.map((product) => (
          <ProductCard title={product.title} imageUrl={product.src} />
        ))
      }
    </div>
  </div>
</section>
