---
import ProductCard from "../ProductCard.astro";

const products = [
  {
    title: "Cartão de Visita",
    src: "",
  },
  {
    title: "Panfletos",
    src: "",
  },
  {
    title: "Blocos",
    src: "",
  },
  {
    title: "Cartazes",
    src: "",
  },
  {
    title: "Lacres e Adesivos",
    src: "",
  },
  {
    title: "Adesivos em Geral",
    src: "Wind Banner/Banner",
  },
  {
    title: "Fachadas",
    src: "",
  },
  {
    title: "Placas",
    src: "",
  },
  {
    title: "Plotagem",
    src: "",
  },
  {
    title: "Aplicação de Películas",
    src: "",
  },
  {
    title: "Criação de Artes Gráficas",
    src: "",
  },
];
---

<section class="min-h-screen md:min-h-[80vh] w-full py-12 md:py-20">
  <div class="flex flex-col gap-4 mx-auto max-w-5xl px-4 md:px-6">
    <div class="flex flex-col gap-2 items-center mb-6 text-center">
      <span class="font-medium text-black/80 text-base md:text-lg"
        >O que fazemos?</span
      >
      <h2 class="text-3xl md:text-4xl font-medium text-black">
        Nossos Produtos
      </h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6">
      {
        products.map((product) => (
          <div class="flex justify-center">
            <ProductCard
              title={product.title}
              imageUrl={product.src || "/placeholder.jpg"}
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
