---

---

<section class="min-h-[80vh] w-full py-20">
  <div class="flex flex-col gap-4 mx-auto max-w-5xl">
    <div class="flex flex-col gap-2 items-center mb-6">
      <span class="font-medium text-secondary/70">Oque fazemos ?</span>
      <h2 class="text-3xl font-bold text-secondary">Nosso Produtos</h2>
    </div>
    <div class="grid grid-cols-3 gap-6">
      <div class="max-w-[350px] h-auto">
        <img
          class="w-full h-auto bg-primary px-2 py-4"
          src="/03.png"
          alt="pruduto"
        />
        <p class="bg-secondary py-3 flex justify-center text-white">
          Título do produto
        </p>
      </div>
      <div class="max-w-[350px] h-auto">
        <img
          class="w-full h-auto bg-primary px-2 py-4"
          src="/03.png"
          alt="pruduto"
        />
        <p class="bg-secondary py-3 flex justify-center text-white">
          Título do produto
        </p>
      </div>
      <div class="max-w-[350px] h-auto">
        <img
          class="w-full h-auto bg-primary px-2 py-4"
          src="/03.png"
          alt="pruduto"
        />
        <p class="bg-secondary py-3 flex justify-center text-white">
          Título do produto
        </p>
      </div>
      <div class="max-w-[350px] h-auto">
        <img
          class="w-full h-auto bg-primary px-2 py-4"
          src="/03.png"
          alt="pruduto"
        />
        <p class="bg-secondary py-3 flex justify-center text-white">
          Título do produto
        </p>
      </div>
      <div class="max-w-[350px] h-auto">
        <img
          class="w-full h-auto bg-primary px-2 py-4"
          src="/03.png"
          alt="pruduto"
        />
        <p class="bg-secondary py-3 flex justify-center text-white">
          Título do produto
        </p>
      </div>
      <div class="max-w-[350px] h-auto">
        <img
          class="w-full h-auto bg-primary px-2 py-4"
          src="/03.png"
          alt="pruduto"
        />
        <p class="bg-secondary py-3 flex justify-center text-white">
          Título do produto
        </p>
      </div>
    </div>
  </div>
</section>
