---
import CatalogoCard from "@/components/CatalogoCard.astro";
import { catalogoItems } from "@/data/catalogo.ts";
---

<section class="flex mx-auto bg-slate-200 w-full py-20">
  <div class="flex mx-auto max-w-5xl flex-col gap-4 mb-10">
    <div class="flex flex-col items-center gap-5 mb-5">
      <h2 class="text-2xl font-bold text-blue-600">Catálogo</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vitae
        corrupti eos voluptas numquam quibusdam consectetur molestias, in
        necessitatibus, rerum alias cum vero! Quis natus, doloremque blanditiis
        consequatur modi laudantium.
      </p>
    </div>
    <div class="grid grid-cols-2 gap-6">
      {
        catalogoItems.map((item) => (
          <CatalogoCard
            key={item.title}
            title={item.title}
            description={item.description}
            imageSrc={item.imageSrc}
          />
        ))
      }
    </div>
  </div>
</section>
