---

---

<section class="w-full flex items-center py-20">
  <div class="max-w-5xl mx-auto flex flex-col gap-5 text-center items-center">
    <h1 class="text-black font-medium text-3xl md:text-4xl">
      Conheça alguns dos nossos clientes
    </h1>
    <div class="flex flex-col md:flex-row gap-4 items-center py-6">
      <h2>clientes</h2>
      <h2>clientes</h2>
      <h2>clientes</h2>
      <h2>clientes</h2>
      <h2>clientes</h2>
      <h2>clientes</h2>
      <h2>clientes</h2>
    </div>
  </div>
</section>
