---

---

<section class="min-h-[80vh] w-full py-20">
  <div class="mx-auto max-w-5xl flex flex-col gap-4">
    <div class="flex flex-col gap-2 items-center">
      <h2 class="text-4xl font-medium text-black">Impressão Digital</h2>
      <div class="mx-auto h-0.5 w-36 bg-primary my-4"></div>
      <p class="text-black/80 max-w-[50vw] text-center text-lg">
        Oferecemos serviços de <span class="font-bold"
          >impressão digital de pequeno e grande</span
        > formato, para ajudar sua empresa a se destacar no mercado.
      </p>
      <div class="grid grid-cols-3 gap-5 py-6 w-full">
        <div
          class="border-3 border-secondary rounded-md py-3 px-8 flex items-center justify-center w-full"
        >
          <p class="text-lg font-bold text-secondary">Cartazes A4 e A3</p>
        </div>
        <div
          class="border-3 border-secondary rounded-md py-3 px-8 flex items-center justify-center w-full"
        >
          <p class="text-lg font-bold text-secondary">Cartazes A4 e A3</p>
        </div>
        <div
          class="border-3 border-secondary rounded-md py-3 px-8 flex items-center justify-center w-full"
        >
          <p class="text-lg font-bold text-secondary">Cartazes A4 e A3</p>
        </div>
        <div
          class="border-3 border-secondary rounded-md py-3 px-8 flex items-center justify-center w-full"
        >
          <p class="text-lg font-bold text-secondary">Cartazes A4 e A3</p>
        </div>
        <div
          class="border-3 border-secondary rounded-md py-3 px-8 flex items-center justify-center w-full"
        >
          <p class="text-lg font-bold text-secondary">Cartazes A4 e A3</p>
        </div>
        <div
          class="border-3 border-secondary rounded-md py-3 px-8 flex items-center justify-center w-full"
        >
          <p class="text-lg font-bold text-secondary">Cartazes A4 e A3</p>
        </div>
      </div>
    </div>
  </div>
</section>
