---
import Button from "@/components/ui/Button.astro";
import Whatsapp from "../icons/Whatsapp.astro";
---

<section class="w-full h-[90vh] flex justify-center flex-col bg-blue-600">
  <div class="mx-auto flex itens-center max-w-5xl md:px-0 px-5">
    <div class="grid md:grid-cols-2 gap-40 p-0 items-center">
      <div class="flex flex-col gap-6">
        <img src="logo.avif" alt="Logo" class="max-w-[250px] h-alto" />
        <h1 class="text-xl text-white font-medium">
          Somos uma empresa especializada no ramo, oferecendo desde cartões de
          visita e materiais impressos até fachadas, placas e plotagem. Conte
          com nossa experiência para dar vida às suas ideias.
        </h1>
        <Button
          variant="cta"
          class="mt-2"
          href="https://wa.me/5591992761377?text=Olá, vim pelo site. Gostaria de solicitar um orçamento"
          ><Whatsapp class="w-5" /> Solicitar Orçamento</Button
        >
      </div>
      <div class="md:block hidden">
        <img src="hm.avif" alt="Hero Image" class="w-[300px] h-auto" />
      </div>
    </div>
  </div>
</section>
