---

---

<section class="bg-primary flex items-center min-h-[80vh] text-white">
  <div class="mx-auto max-w-5xl grid grid-cols-2 gap-10">
    <div class="w-full h-[250px] bg-white"></div>
    <div class="flex flex-col gap-4 items-center">
      <h1 class="text-4xl font-medium">
        Uma história que vai além da impressão
      </h1>
      <div class="flex flex-col gap-4">
        <p>
          Somo especialistas em impressçao Offset e Digital com qualidade que a
          sua empresa precisa.
        </p>
        <a
          href=""
          class="px-6 py-3 bg-secondary rounded-full text-white font-medium flex items-center justify-center"
          >SOLICITAR ORÇAMENTO</a
        >
      </div>
    </div>
  </div>
</section>
