---
import Button from "@/components/ui/Button.astro";
---

<section class="w-full h-[90vh] flex justify-center flex-col bg-blue-600">
  <div class="mx-auto flex itens-center max-w-5xl">
    <div class="grid grid-cols-2">
      <div class="flex flex-col gap-6">
        <span class="text-lg text-white font-bold">LOGO</span>
        <h1 class="text-xl text-white font-medium">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
          quidem minima dolore quod sapiente officia magnam ab commodi ducimus
          nulla necessitatibus est, omnis quia ut quos voluptates tempore vero
          quo!
        </h1>
        <Button variant="cta" class="mt-2">CTA</Button>
      </div>
      <div></div>
    </div>
  </div>
</section>
