---

---

<section class="bg-primary flex items-center min-h-[80vh] text-black">
  <div class="mx-auto max-w-5xl grid grid-cols-2 gap-12">
    <div class="w-full h-[250px] bg-white"></div>
    <div class="flex flex-col gap-4 items-center">
      <h1 class="text-5xl font-bold mb-2">
        Soluções Gráficas Que Elevam Sua Identidade
      </h1>
      <div class="flex flex-col gap-4">
        <p class="text-lg font-medium text-black/80 mb-2">
          Somos uma empresa especializada em soluções gráficas e comunicação
          visual, oferecendo desde cartões de visita e materiais impressos até
          fachadas, placas e plotagem. Conte com nossa experiência para dar vida
          às suas ideias.
        </p>
        <a
          href=""
          class="px-10 py-3 uppercase text-sm max-w-fit hover:bg-secondary transition-colors bg-black rounded-full text-white font-medium flex items-center justify-center"
          >Solicitar Orçamento</a
        >
      </div>
    </div>
  </div>
</section>
