---
import ImpressCard from "../ImpressCard.astro";

const services = [
  {
    name: "Cartão de Visita",
  },
  {
    name: "Panfletos",
  },
  {
    name: "Blocos",
  },
  {
    name: "Embalagens Personalizadas",
  },
  {
    name: "Cartaz",
  },
  {
    name: "E muito mais",
  },
];
---

<section class="min-h-[80vh] w-full bg-slate-100 py-20">
  <div class="mx-auto max-w-5xl flex flex-col gap-4">
    <div class="flex flex-col gap-2 items-center">
      <h2 class="text-4xl font-medium text-black">Impressão Offset</h2>
      <div class="mx-auto h-0.5 w-36 bg-primary my-4"></div>
      <p class="text-black/80 max-w-[50vw] text-center text-lg">
        Oferecemos uma <span class="font-bold">ampla variedade de serviços</span
        > de impressão para ajudar sua empresa a se comunicar de maneira clara e
        eficaz com seus clientes. Se você precisa de grandes tiragens <span
          class="font-bold">temos a solução ideal para você.</span
        >
      </p>
      <div class="grid grid-cols-3 gap-5 py-6 w-full">
        {services.map((service) => <ImpressCard service={service.name} />)}
      </div>
    </div>
  </div>
</section>
