---
import Button from "@/components/ui/Button.astro";
---

<section class="flex mx-auto w-full py-20">
  <div
    class="mx-auto max-w-5xl flex flex-col gap-8 md:px-0 px-5 md:text-start text-center"
  >
    <!-- Title and description -->
    <div class="flex md:flex-row flex-col items-center gap-6 mb-7">
      <h2 class="md:text-3xl text-2xl text-blue-600 font-bold">
        A HM Gráfica Digital é especialista em soluções gráficas e digitais para
        empresas de todos os tamanhos.
      </h2>
      <p class="md:text-lg text-base font-medium">
        Nossa equipe de profissionais altamente qualificados está pronta para
        ajudar sua empresa a se comunicar de maneira clara e eficaz com seus
        clientes.
      </p>
    </div>
    <!-- cards -->
    <div
      class="w-full bg-blue-700 p-10 flex gap-7 text-white rounded-2xl shadow"
    >
      <div class="flex flex-col gap-2">
        <!-- Title -->
        <h2 class="text-2xl font-medium">Impressão Offset</h2>
        <!-- Description -->
        <p>
          Oferecemos uma ampla variedade de serviços de impressão para ajudar
          sua empresa a se comunicar de maneira clara e eficaz com seus
          clientes. Se você precisa de grandes tiragens temos a solução ideal
          para você.
        </p>
        <!-- Buttons -->
        <div class="flex gap-2 mt-4 flex-wrap">
          <Button variant="secondary">Cartão de Visita</Button>
          <Button variant="secondary">Panfletos</Button>
          <Button variant="secondary">Blocos</Button>
          <Button variant="secondary">Embalagens Personalizadas</Button>
          <Button variant="secondary">Cartaz</Button>
          <Button variant="secondary">E muito mais</Button>
        </div>
      </div>
      <!-- Image -->
      <div></div>
    </div>

    <!-- cards -->
    <div
      class="w-full bg-blue-700 p-10 flex gap-7 text-white rounded-2xl shadow"
    >
      <!-- Image -->
      <div></div>
      <div class="flex flex-col gap-2">
        <!-- Title -->
        <h2 class="text-2xl font-medium">Impressão Digital</h2>
        <!-- Description -->
        <p>
          Oferecemos serviços de impressão digital de pequeno e grande formato,
          para ajudar sua empresa a se destacar no mercado.
        </p>
        <!-- Buttons -->
        <div class="flex gap-2 mt-4 flex-wrap">
          <Button variant="secondary">Wind Banner/Banner</Button>
          <Button variant="secondary">Fachadas</Button>
          <Button variant="secondary">Placas</Button>
          <Button variant="secondary">Lacres e Adesivos</Button>
          <Button variant="secondary"> Adesivos em Geral </Button>
          <Button variant="secondary"> Embalagens personalizadas </Button>
          <Button variant="secondary">Estiquetas e Tags</Button>
        </div>
      </div>
    </div>
  </div>
</section>
