---
import Button from "@/components/ui/Button.astro";
import ServicoCard from "@/components/ServicoCard.astro";
import { services } from "@/data/servicos.ts";
---

<section class="flex mx-auto w-full py-20">
  <div
    class="mx-auto max-w-5xl flex flex-col gap-8 md:px-0 px-5 md:text-start text-center"
  >
    <!-- Title and description -->
    <div class="flex md:flex-row flex-col items-center gap-6 mb-7">
      <h2 class="md:text-3xl text-2xl text-blue-600 font-bold">
        A HM Gráfica Digital é especialista em soluções gráficas e digitais para
        empresas de todos os tamanhos.
      </h2>
      <p class="md:text-lg text-base font-medium">
        Nossa equipe de profissionais altamente qualificados está pronta para
        ajudar sua empresa a se comunicar de maneira clara e eficaz com seus
        clientes.
      </p>
    </div>
    <!-- cards -->
    {
      services.map((service) => (
        <ServicoCard
          title={service.title}
          description={service.description}
          services={service.services}
        />
      ))
    }
  </div>
</section>
