---

---

<section class="flex mx-auto w-full py-20">
  <div class="mx-auto max-w-5xl flex flex-col gap-6">
    <!-- Title and description -->
    <div class="flex items-center gap-6">
      <h2 class="text-xl text-blue-600 font-bold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eum
        quaerat ad est, maiores velit inventore, tenetur id harum placeat minima
        ea sequi et repellendus autem. Nulla, hic esse? Ipsum?
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quisquam
        tempora tempore dolore tenetur minus praesentium veritatis sint dolor
        earum labore velit quas dolores, commodi aliquid inventore quam natus
        itaque?
      </p>
    </div>
    <!-- cards -->
    <div></div>
  </div>
</section>
