---
import Whatsapp from "./icons/Whatsapp.astro";
import Button from "./ui/Button.astro";

const { title, description, imageSrc } = Astro.props;
---

<div
  class="bg-white flex md:flex-row md:text-start text-center flex-col gap-6 px-7 py-10 rounded-xl shadow"
>
  <!-- image -->
  <div class="w-full h-auto items-center flex justify-center">
    <img src={imageSrc} class="md:w-full max-w-[250px] h-auto" />
  </div>
  <!-- description and button -->
  <div class="flex flex-col justify-between gap-5 min-w-[50%]">
    <div class="flex flex-col gap-4 px-2">
      <h2 class="text-xl font-medium">{title}</h2>
      <span class="">{description}</span>
    </div>
    <Button
      variant="primary"
      href={`https://wa.me/559191705333?text=Olá, gostaria de solicitar um orçamento para ${title}`}
      class="text-base w-full px-0"
      ><Whatsapp class="w-5" /> Realizar Orçamento</Button
    >
  </div>
</div>
