---
import Button from "./ui/Button.astro";

const { title, description, imageSrc, buttonHref } = Astro.props;
---

<div class="bg-white flex gap-6 px-7 py-10 rounded-xl shadow">
  <!-- image -->
  <div class="w-full h-auto">
    <img src={imageSrc} class="w-full h-auto" />
  </div>
  <!-- description and button -->
  <div class="flex flex-col justify-between gap-5 min-w-[50%]">
    <div class="flex flex-col gap-4 px-2">
      <h2 class="text-xl font-medium">{title}</h2>
      <span class="">{description}</span>
    </div>
    <Button variant="primary" href={buttonHref}>Realizar Orçamento</Button>
  </div>
</div>
