---
import Instagram from "./icons/Instagram.astro";
import Whatsapp from "./icons/Whatsapp.astro";
---

<footer class="w-full bg-primary pt-20 flex-col">
  <div
    class="flex items-center max-w-5xl mx-auto flex-col gap-5 text-center md:text-base text-sm"
  >
    <img src="/logo.png" class="w-50" />
    <h2>email@email.com</h2>
    <address>R. alguma coisa, N 20, Bairro</address>
    <span>Funcionamos de Segunda a Sexta de 08hrs às 19hrs</span>
    <div class="h-0.5 md:w-4xl w-[50vw] bg-black mt-4"></div>
    <div class="flex gap-4 mb-10">
      <a
        href="https://www.instagram.com/hmgraficavisual/"
        target="_blank"
        class="p-3 bg-black hover:bg-secondary transition-colors rounded-full"
        ><Instagram width="24" height="24" fill="#fff" /></a
      >
      <a
        href="https://wa.me/559191705333"
        target="_blank"
        class="p-3 bg-black hover:bg-secondary transition-colors rounded-full"
        ><Whatsapp width="24" height="24" fill="#fff" /></a
      >
    </div>
  </div>
  <div class="w-full bg-black flex items-center justify-center py-2">
    <div class="max-w-5xl text-center">
      <span class="text-white text-sm"
        >© 2025 HM Soluções Gráficas. Todos os direitos reservados.</span
      >
    </div>
  </div>
</footer>
