---

---

<header class="w-full py-6 bg-primary">
  <div class="flex items-center justify-between mx-auto max-w-5xl text-white">
    <a href="/">LOGO</a>
    <a href="/about" class="font-medium">SOLICITAR ORÇAMENTO</a>
  </div>
</header>
