---
import Check from "./icons/Check.astro";
const { service } = Astro.props;
---

<div
  class="border-3 border-secondary rounded-md py-3 flex items-center gap-2 justify-center w-full"
>
  <Check />
  <p class="text-lg font-bold text-secondary">{service}</p>
</div>
