---
const { title, imageUrl } = Astro.props;
---

<div class="bg-primary max-w-[350px]]">
  <img class="w-full h-auto px-2 py-4" src={imageUrl} alt={title} />
  <p class="py-3 flex bg-black justify-center text-white">
    {title}
  </p>
</div>
