---
interface Props {
  title: string;
  imageUrl: string;
  maxWidth?: string;
}

const { title, imageUrl, maxWidth = "350px" } = Astro.props;
---

<div
  class={`bg-primary w-full sm:max-w-[${maxWidth}] rounded-md overflow-hidden shadow-lg transform transition-transform duration-300 hover:scale-105`}
>
  <img
    class="w-full h-auto px-2 py-3 md:py-4"
    src={imageUrl}
    alt={title}
    loading="lazy"
  />
  <p
    class="py-2 md:py-3 flex bg-black justify-center text-white text-sm md:text-base font-medium"
  >
    {title}
  </p>
</div>
