---
const { title } = Astro.props;
import Header from "@/components/Header.astro";
import "@/styles/global.css";
---

<html lang="pt-br font-sans">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/icon.avif" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Somos uma empresa especializada no ramo, oferecendo desde cartões de visita e materiais impressos até fachadas, placas e plotagem. Conte com nossa experiência para dar vida às suas ideias. "
    />
    <meta
      name="keywords"
      content="
      Gráfica, Design, Impressão, Fachadas, Placas, Plotagem, Paragominas, Fachadas"
    />
    <meta name="author" content="Vinícius Reis" />

    <meta
      property="og:title"
      content="HM Solução Gráfica e Comunicação Visual"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://hmgraficavisual.vercel.app/og-img.jpg"
    />
    <meta property="og:url" content="https://hmgraficavisual.vercel.app/" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.0/css/all.min.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
