---
const { title } = Astro.props;
import Header from "@/components/Header.astro";
import "@/styles/global.css";
---

<html lang="pt-br font-sans">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.0/css/all.min.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
