---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"a"> {
  variant: "primary" | "secondary" | "cta";
}

const { variant, ...props } = Astro.props;
---

<a
  target="_blank"
  class={twMerge(
    "px-6 py-3 flex items-center gap-2 rounded-full text-lg font-bold justify-center",
    variant === "primary" &&
      "bg-blue-800 text-white hover:bg-blue-700 hover:text-white transition-colors",
    variant === "secondary" &&
      "bg-slate-300/20 text-white hover:bg-slate-300/50 transition-colors",
    variant === "cta" &&
      "bg-slate-300/20 border border-white text-white hover:bg-white hover:text-slate-500/80 transition-colors",
    Astro.props.class,
  )}
  {...props}
>
  <slot />
</a>
